# 1. BASIC PYTHON DATETIME MODULE

In [ ]:
# datetime is one of Python's core standard libraries 
# We are going to use two methods to deal with dates/times: (1) date and (2) dateime
# date: helps us define dates only without including time (month, day, year)
# datetime: helps us define times and dates together (month, day, year, hour, second, microsecond)
# Let's import datetime module as dt

In [ ]:
# Pick a date using Python's date method inside the datetime module

In [ ]:
# Check the data type (datetime object)

In [ ]:
# Convert it into string to view the date and time

In [ ]:
# Attribute day will return the day contained in the datetime object

In [ ]:
# Month attribute will return the month contained in the datetime object

In [ ]:
# year attribute will return the year contained in the datetime object

In [ ]:
# Let's define a datetime using datetime method as follows

In [ ]:
# Convert it into string to view the date time

In [ ]:
# Obtain the hour contained in the datetime object

In [ ]:
# Obtain the minutes contained in the datetime object

In [ ]:
# print out calendar!

In [ ]:
# You can also use pd.datetime to convert a regular Pandas Series into datetime as follows:

In [ ]:
# The to_datetime() method converts the date and time in string format to a DateTime object:

**MINI CHALLENGE #1:**
- **Use Python's datetime method to write your date and time of your birth! Convert it into string format**

# 2. HANDLING DATES AND TIMES USING PANDAS

In [ ]:
# Timestamp is the pandas equivalent of python’s Datetime and is interchangeable with it in most cases. 
# It’s the type used for the entries that make up a DatetimeIndex, and other timeseries oriented data structures in pandas.
# Check this out: https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html

In [ ]:
# Or you can define a Pandas Timestamp using Python datetime object

In [ ]:
# Calculate difference between two dates

In [ ]:
# Let's define 3 dates for 3 separate transactions

In [ ]:
# Let's put the 3 dates in a list as follows

# Use Pandas DateTimeIndex to convert the list into datetime datatype as follows
# Datetime index constructor method creates a collection of dates

In [ ]:
# Define a list that carries 3 values corresponding to store sales

In [ ]:
# Define a Pandas Series using datetime and values as follows:

In [ ]:
# you can also define a range of dates as follows:

In [ ]:
# Datatype is a datetimeindex (which is a collection of dates!)

In [ ]:
# If you pick any sample date, it's represented in timestamp datatype

In [ ]:
# you can also define a range of dates using M which stands for month end as follows:

In [ ]:
# Alternative way of defining a list of dates

**MINI CHALLENGE #2:**
- **Obtain the business days between 2020-01-01 and 2020-04-01**

# 3. DATETIME IN ACTION! PRACTICAL EXAMPLE PART #1

In [ ]:
# dataframes creation for both training and testing datasets 


# Convert date column to datetime format


# Date: The date of the observation
# AveragePrice: the average price of a single avocado
# type: conventional or organic
# Region: the city or region of the observation
# Total Volume: Total number of avocados sold

In [ ]:
# You can select any column to be the index for the DataFrame

**MINI CHALLENGE #3:**
- **What are the datatypes of each column in the avocado_df DataFrame?**

# 4. DATETIME IN ACTION! PRACTICAL EXAMPLE PART #2

In [ ]:
# access elements with a specific datetime index using .loc

In [ ]:
# You can use iloc if you decide to use numeric indexes

In [ ]:
# Access more than one element within a given date range

In [ ]:
# Truncate a sorted DataFrame given index bounds.
# Make sure to sort the dataframe before applying truncate

In [ ]:
# you can offset (shift) all dates by days or month as follows

In [ ]:
# Let's revert back to the original dataset!

In [ ]:
# Once you have the index set to DateTime, this unlocks its power by performing aggregation
# Aggregating the data by year (A = annual)

In [ ]:
# Aggregating the data by month (M = Month)

In [ ]:
# You can obtain the maximum value for each Quarter end as follows:

In [ ]:
# You can locate the rows that satisfies a given critirea as follows:

In [ ]:
# You can create new features from the date time information as follows

In [ ]:
# Don't forget to set the Date to be in the index for the DataFrame

**MINI CHALLENGE #4:**
- **Calculate the average avocado price per quarter end**

# 5. DATA PLOTTING (STRETCH ASSIGNMENT!)

In [ ]:
# Once you have index set to DateTime, this unlocks its power by performing aggregation
# Aggregating the data by month end

In [ ]:
# plot the avocado average price per month

In [ ]:
# plot the avocado average price per quarter

In [ ]:
# plot the avocado average price per annual basis

In [ ]:


plt.figure(figsize = (10, 7))
sns.violinplot(y = 'AveragePrice', x = 'type', data = avocado_df)

In [ ]:
# plot the distribution plot of avocado prices (histogram + Kernel Denisty Estimate)

In [ ]:
# Catplot is used to draw categorical plots onto a FacetGrid.
# Catplot provides access to several axes-level functions that show the relationship between a numerical and one or more categorical variables.

**MINI CHALLENGE #5:**
- **Plot the average price of avocado on a weekly basis**
- **Plot Catplot for price vs. region for organic food**

# MINI CHALLENGE SOLUTIONS:

**MINI CHALLENGE #1 SOLUTION:**
- **Use Python's datetime method to write your date and time of your birth. Convert it into string format!!**

In [ ]:
# Let's define a datetime using datetime method as follows
my_birth = dt.datetime(1992, 10, 25, 8, 9, 20)
str(my_birth)

**MINI CHALLENGE #2 SOLUTION:**
- **Obtain the business days between 2020-01-01 and 2020-04-01**

In [ ]:
# you can also define a range of dates using B which stands for business days as follows:
my_days = pd.date_range(start = "2020-01-01", end = "2020-04-01", freq = "B")
my_days

**MINI CHALLENGE #3 SOLUTION:**
- **What are the datatypes of each column in the DataFrame?**

In [ ]:
avocado_df.info()

**MINI CHALLENGE #4 SOLUTION:**
- **Calculate the average avocado price per quarter end**

In [ ]:
# You can obtain the average value for each Quarter end as follows: 
avocado_df.resample(rule='Q').mean()

**MINI CHALLENGE #5 SOLUTION:**
- **Plot the average price of avocado on a weekly basis**
- **Plot Catplot for price vs. region for organic food**

In [ ]:
# plot the avocado average price per weekly basis 
avocado_df.resample(rule='W').mean()['AveragePrice'].plot(figsize = (10,5), marker = 'o', color = 'r');

In [ ]:
organic = sns.catplot('AveragePrice', 'region', data = avocado_df[ avocado_df['type'] == 'organic'], hue = 'Year', height = 20);